body {
    background-color: #f3f4f6;
    margin: 0;

}

nav {
    color:black;
    border: 1px solid white;
    -webkit-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);;
    display: flex;
    background-color: white;
    height: 90px; 
}


nav ul li a:hover {
    color: blue;
    background-color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: black;
    margin-left: 120px;

}

nav ul li {
    margin: 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: left;
    padding-left: 25px;
    margin-left: 25px;
}

.sideContainer {
    display: flex;
}

img {
    margin-top: 50PX;
    margin-left: 150px;
    border-radius: 50%;  
}

section {
    margin-top: 50px;
    margin-left: 150px;
}

.detailInfo {
    display: flex;
    flex-direction: column;

}

p {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    
}

#info {
    margin-left: 90px;
    margin-top: 15px;
    display: flex;

}



